@import '../App/vars.scss';

#tracks-header {
	display: grid;
	grid-template-columns: 300px 500px auto;
	column-gap: 20px;

	#tracks-search {
		text-align: left;

		.input {
			width: 100%;
		}
	}

	#tracks-actions {
		text-align: right;

		.btn-sync {
			width: 231px;
		}
	}

	#tracks-filters {
		.button {
			height: 36px;
		}
		
	}
}

.table-head {
	height: 40px;

	.table-row {
		margin-right: 18px;
		div {
			padding: 10px;
			font-weight: bold;
		}
		border-bottom: 1px solid darken($color: $bordercolor, $amount: 5%);
	}

}

.table-body  {
	height: calc(100vh - 225px);
	border-radius: 5px;
	overflow-y: scroll;	

	.table-row {
		height: 40px;
		div {
			padding: 10px 10px;
		}
		&:hover {
			background: #f3f3f3;
		}
	}
}

.table-row {
	div {
		vertical-align: middle;
		align-self: center;
		overflow: hidden;
		white-space: nowrap;
	}
	display: grid;
	margin-right: 8px;
	grid-template-columns: auto 22% 22% 80px 80px;

	&.row-busy {
		opacity: 0.3;
	}
}

.warning {
	margin-top: 6px;
}