@import '../../config/vars.scss';

#copy-box {
	.copy-number {
		color: $secondcolor;
		margin-bottom: 5px;
	}
	.copy-cover {
		width: 200px;
		height: 200px;
		border-radius: 10px;
		box-shadow: 0px 25px 45px -10px rgba(0, 0, 0, 0.5);
		margin-bottom: 30px;
	}
	.copy-title {
		color: $textcolor;
		font-weight: bold;
		font-size: 22px;
	}
	.copy-details {
		color: $secondcolor;
		margin-top: 5px;
	}
}